.rigobaby{
    margin:30px;
}

.back-home {
    background-color: #DCAA69;
    position: relative;
    margin-top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fal-view{
    margin-top: 50px;
    margin-bottom: 50px;
}