.rigobaby{
    margin:30px;
}

.back-home {
    background-color: #DCAA69;
    position: relative;
    margin-top: 10px;
}
.back-home:hover{
    background-color: gray;
}
.fal-view{
    margin-top: 50px;
    margin-bottom: 50px;
}