.company-logo {
    height: 75px;
    width: 250px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.nav-link {
    margin-left: 10px;
    margin-top: 18px; 
    font-size: 18px;
}
.jumbotron-fluid {
    background-image: url("https://i.imgur.com/PBZdORn.jpg");
    background-color: transparent;
    background-repeat:no-repeat;
    min-height: 400px;
    background-position: center;
    backdrop-filter: blur(2px);
}

.jumtext {
    color: white;
    text-align: center;
    padding-top: 100px;
    text-shadow: 2px 2px 3px black;
}

.lead {
    font-weight: bold;
}

.footer {
    background-color: grey;
}